*{
    padding:0px;
    margin:0px;
}
body{
    font-family: arial,sans-serif;
}
header{
    padding:10px 11px 10px 11px;
    height: 40px;
}
header div:nth-child(1){
    float: left;
    margin-top: 10px;
}
header div:nth-child(2){
    float: right;
    margin-top: 10px;

}
header div:nth-child(2) a:nth-child(3){
    background: #4285f4;
    color: white;
    display: inline-block;
    width: 68px;
    height: 29px;
    border: none;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
    text-decoration: none;
    font-weight: 700;
    border-radius:2px;
}
header a{
    color:black;
    margin: 0 10px 0 10px;
    text-decoration: none;
    font-size: 13px;
}
header a:hover {
    text-decoration: underline;
}
section{
    text-align: center;
    height: 650px;
    padding: 10px;
}
.logo{
    height: 233px;
    padding-top: 45px;
}
.logo img{
    margin-top:100px;
}
.search-bar{
    display: flex;
}
.search-bar input{
    width: 527px;
    height: 34px;
    border-radius: 25px;
    border: 1px solid #dfe1e5;
    margin: auto;
    outline: none;
    padding: 5px 8px 0 16px;
    font-family:arial,sans-serif; 
    font-size: 16px;
}
.search-bar input:hover{
    box-shadow: -2px 4px 13px -3px rgba(114,114,114,0.75);
}
section div:nth-child(3){
    padding-top: 35px;
    height: 118px;
}
section div:nth-child(3) a{
    background:#f8f8f8;
    padding: 10px;
    color: #5F6368;
    text-decoration: none;
    margin: 5px;
    border-radius: 5px;
}
section div:nth-child(3) a:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
background-color: #f8f8f8;
border: 1px solid #c6c6c6;
color: #222;
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding:10px 11px 10px 11px;
    background:#F2F2F2;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid #e4e4e4;
}
footer div:nth-child(1){
    float: left;
}
footer div:nth-child(2){
    float: right;

}
footer a{
    color:#5f6368;
    margin: 0 10px 0 10px;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}